# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

# Objectives
- List popular languages for Data Science
- Create Table in Markdown
- List Commonly used Libraries by Data Scientist
- Create Ordered and Unordered lists in Markdown
- Insert links and images using Markdown

# Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. PyTorch
2. Scrapy
3. Numpy

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R Studio|
|Zeppelin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## AUTHOR
Ronald Diggs